.App {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* .modal-login {
 
  display: flex;
  align-items: center;
  justify-content: center;
 

  position: relative;
  width: 30%;
  height: 50%;

  background-color: #f5f5f5;

  border-radius: 40px;
  animation: modal-login-animation 0.3s;
  outline: none;
}
.circle {
 
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 80px;
  
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  border-bottom: 0;
  background-color: #d6d6d6;
  box-shadow: 0px 0px 10px #464646;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle-left {
  top: 20%;
  left: 0;
  width: 30px;
  height: 60px;
  border-top-left-radius: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0;
}

@keyframes modal-login-animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-login-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.692);

  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: modal-login-overlay-animation 0.4s;
}

@keyframes modal-login-overlay-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-login__close {
  position: absolute;

  border: none;

  top: 2%;
  right: 2%;
  color: #2b2d42;
  cursor: pointer;
  background-color: transparent;
}
.modal-login__close:active {
  outline: none;
  border: none;
}
.modal-login__container__background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-login__container {
  display: flex;
  flex-direction: column;
  gap: 10px;


  align-items: center;
}
.modal-login__container h1 {
  font-size: 1.4rem;
  color: #2b2b2b;

  font-weight: bold;
}
.modal-login__container label {
  font-size: 1rem;
  color: rgb(49, 49, 49);

  font-weight: bold;
}
.modal-register__container {
  display: flex;
  flex-direction: column;


  align-items: center;
}
.modal-register__back {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #2b2d42;
  background-color: transparent;
  border: none;
  transform: scale(1.2);
}
.modal-register__back:focus {
  border: none;
  outline: none;
}

.modal-login__form {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.modal-login__crearCuenta {
  background-color: transparent;
  font-weight: bold;
  color: #edf2f4;
  border: none;
}
.modal-login__crearCuenta:hover {
  text-decoration: underline;
} */

.inicioCrud {
  display: grid;
  grid-template-columns: 50% 50%;

  grid-gap: 10px;
  padding: 10px;
}
.tipo_esquema_container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 50% 50% 50%;
}
.tipo_esquema_container div {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.forms {
  display: flex;
  flex-direction: column;
}
.formInsert {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.formInsert label {
  padding-top: 20px;
}
.formInsert Button {
  width: 20%;
}
.formInsert__nombre {
  width: 80%;
  height: 1.5rem;
}
.formInsert__descripcion {
  width: 80%;
  min-height: 5rem;
  max-width: 80%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .header {
    position: relative;

    height: 10vh;
    width: 100%;
  }
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    left: 0px;
    height: 100%;
    background-color: rgb(218, 89, 66);
  }
  .logo h1 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
    /* center vertical */
  }
  .btn-login {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5%;
    height: 100%;
  }
  .btn-menu {
    position: absolute;
    display: flex;
    align-items: center;
    right: 20%;
    height: 100%;
  }
  .btn-openMenu {
    font-size: 2.5rem;
  }
  .modal-login {
    /*center modal*/

    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 0px 0px 50px rgba(73, 73, 73, 0.5);
    height: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    animation: modal-login-animation 0.3s;
    border: none;
    outline: none;
  }
  .modal-login__container {
    display: flex;
    flex-direction: column;
    /* center content */

    align-items: center;
  }
  .modal-login__container h1 {
    font-size: 1.5rem;
    color: #edf2f4;

    font-weight: bold;
  }
  .modal-login__container label {
    font-size: 1.1rem;
    color: rgb(49, 49, 49);

    font-weight: bold;
  }
  .modal-login__container input {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
  }
  .form-group-password {
    position: relative;
  }
  .icons-inputs {
    position: absolute;
  }
  .modal-login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .btn-submit {
    width: 100%;
    height: 4rem;
    font-size: 1.1rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}
